.header {
	border-bottom: 1px solid #eaeaea;
	li {
		cursor: pointer;
	}
}

.headerPrice {
	opacity: 0.85;
	font-weight: 600;
	line-height: 17px;
	color: #5c5c5c;
}

.headerInfo {
	p {
		opacity: 0.5;
		font-weight: 600;
	}
}
