body {
	margin: 0;
	-webkit-font-smoothing: antialised;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e7f6ff;
}

* {
	font-family: 'Inter', sans-serif, system-ui;
}

.wrapper {
	max-width: 1080px;
	margin: 50px auto;
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
}

.content {
	h1 {
		margin: 0;
	}
}

.goods {
	// flex: 1;
	flex-wrap: wrap;
}
