.unliked {
}

.favorite {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 30px;
	width: 32px;
	height: 32px;
	background: #ffffff;
}

.plusBtn,
.closeBtn {
	width: 32px;
	height: 32px;
	cursor: pointer;
	border: none;
	border-radius: 8px;
	background-color: #fff;
	transition: opacity 150ms ease-in-out;
}

.closeBtn {
	border: 1px solid #e7e7e7;
	opacity: 0.4;
	&:hover {
		opacity: 1;
		border: 1px solid #d1d1d1df;
	}
}

.greenButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 55px;
	cursor: pointer;
	background: #80bc36;
	border-radius: 18px;
	border: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
	transition: background-color 150ms ease-in-out;
	&:hover {
		background-color: lighten($color: #80bc36, $amount: 5%);
	}
	&:active {
		background-color: darken($color: #80bc36, $amount: 5%);
	}
	&:hover {
		img {
			transform: translateX(5px);
		}
	}
	img {
		position: relative;
		left: 50px;
		transition: transform 0.15s ease-in-out;
	}
}

.greenButtonMod {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 55px;
	cursor: pointer;
	background: #80bc36;
	border-radius: 18px;
	border: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
	transition: background-color 150ms ease-in-out;
	&:hover {
		background-color: lighten($color: #80bc36, $amount: 5%);
	}
	&:active {
		background-color: darken($color: #80bc36, $amount: 5%);
	}
	&:hover {
		img {
			transform: translateX(5px);
			transform: rotate(180deg);
		}
	}
	img {
		position: relative;
		left: 10px;
		top: 1px;
		transition: transform 0.2s ease-in-out;
	}
}
